body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Inter" , sans-serif;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.50);
    --background-a:rgba(255, 255, 255, 0.10);
    --background-h: rgba(255, 255, 255, 0.05);
    --social-media-hover: #FFFFFF33;
    --switch-bg-url: url(./assets/moon-stars.svg);

}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.50);
    --background-a:rgba(0, 0, 0, 0.05);
    --background-h: rgba(0, 0, 0, 0.02);
    --social-media-hover:  rgba(0, 0, 0, 0.10);
    --switch-bg-url: url(./assets/Sun.svg);

}


body {
    /* background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 
    */

    /*background: color image repeat position /size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}


#container {
    width: 100%;
    max-width: 588px;
    /* height: 712px; a altura precisa estar fluida, mas é bom colocar no início para ir moldando e ter noção da apresentação física do espaço 
   /*  border: 1px solid white;   não é mais necessária, apenas ferramenta didática.
      margin-right: auto;
       margin-left: auto; 
       56px top auto (both sides) 0px bottom */
    margin: 56px auto 0px;
    padding: 0 24px;
    }

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px; 
    /* display: block;
    margin: auto; dar propriedade de bloco, para alinhar a margem OU acrescentar elemento pai com text align: preferencia */ 
}
#profile p {
    font-weight: 500;
    /* font-size: 16px;   padrão dos websites, nao é necessário colocar */
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    z-index: 1;

    transform: translateY(-50%);
    top: 50%;
    left: 0;
    
    animation: slide-back 0.3s;
}

.light #switch button {
    animation: slide-in 0.3s forwards;

}
#switch button:hover{
    outline: 8px solid var(--stroke-color);

}
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--background-a);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

}


 /* links */
 ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0px;

 }

 ul li a{
    display: flex;
    justify-content: center; /* por ser texto, poderia ser por exemplo "text-align: center" há mais de uma maneira de fazer tudo.*/
    align-items: center;

    padding: 16px 24px;

    border: 1px solid var(--stroke-color);
    background: var(--background-a);
    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.3s;

    /* height: 56px; */
 }
    /* pseudo-selector*/

 ul li a:hover{
    border: 1.5px solid var(--text-color);
    background: var(--background-h);
 }

    /* Social Media*/
#socialmedia {
        display: flex;
        justify-content: center;
        font-size: 24px;
        padding: 24px 0;
 }

 #socialmedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;

    transition: background 0.3s;

 }

 #socialmedia a:hover{
    background:  var(--social-media-hover);
 }

 footer {
    /* display: block; * o display aqui já é block automaticamente; caso esteja em display flex, precisa de mais comandos, como align text e justify content para tudo ficar centralizado. Se deixar em block, só é necessário text align */
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 24px 0px;
 }

 /* media queries (é um at rule, comandado por @)
 aqui funcionaria melhor caso o bg para o outro formato estivesse disponível, como não está, 
 vou deixar esse comentário para deixar registrado como fazer quando for necessário
 
 @media (min-width: 700px) {
    :root {
    --bg-url: url(./assets.bg.padraodiferente.jpg);
    }

    .light {
        --bg-url: url(./assets.bg.pd-light.jpg);
    }

 } ATENÇÃO: esse at rule só funciona caso no html tenha a linha <meta name="viewport" content="width=device-width, initial-scale=1.0"> */ 

 /*animation (é um at rule)*/

 @keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
 }
 @keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }

 }